@page "/showBasket"
@using System.Text
@using System.Collections.Concurrent
@using Blazored.Toast
@using Blazored.Toast.Services
@using Blazored.Toast.Configuration
<h3>Корзина</h3>
<link href="_content/Blazored.Toast/blazored-toast.min.css" rel="stylesheet" />

@foreach (var b in _basket)
{
    <div>@b.Key   @b.Value</div>   
}

<div>
    <button @onclick="@Clear">
        Очистить Корзину
    </button>
</div>

@inject HWShop_ASP.net.Product.IBasket  Basket;
@inject IToastService ToastService;

@code {

    ConcurrentDictionary<string, int> _basket;

    protected override void OnInitialized()
    {
        _basket = Basket.ShowBusket();
    }

    private void Clear()
    {
        ToastService.ShowSuccess("Корзина очищена!", ":)");
        Basket.Clear();
    }
}
